.media {
  width: $mobile-content-width;
  margin-bottom: 58px;
}

.media__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $title-color;
  box-sizing: border-box;
  margin: 0;
  padding: 24px 37px 24px 88px;
  border: 1px solid $border-color;
  border-bottom: none;
}

.media__content {
  display: block;
}

.media__description {
  padding: 27px 33px 32px 33px;
  border: 1px solid $border-color;
  border-top: none;
}

.media__promo {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $text-color;
  margin: 0;
  padding-right: 5px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .media {
    width: $tablet-content-width;
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
  }

  .media__content {
    order: 1;
    height: 455px;
  }

  .media__title {
    font-size: 20px;
    order: 2;
    padding: 38px 41px 20px 105px;
  }

  .media__description {
    order: 3;
    padding: 11px 40px 45px 40px;
  }

  .media__promo {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
    padding: 0;
  }
}


@media (min-width: $desktop-width) {
  .media {
    position: relative;
    width: 366px;
    min-height: 455px;
    margin-left: 682px;
    margin-bottom: 105px;
  }

  .media__description {
    padding: 0 55px 60px 78px;
  }

  .media__title {
    padding: 95px 120px 33px 78px;
  }

  .media__promo {
    margin-bottom: 45px;
  }

  .media__content {
    width: 682px;
    position: absolute;
    top: 0;
    left: -682px;
  }
}
