.site-list {
  display: flex;
  flex-direction: column;
  top: 79px;
  width: 100%;
}

.site-list__link {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  padding: 27px 0;
  padding-left: 75px;
  color: $title-color;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
