.user-list {
  display: flex;
  flex-direction: column;
  top: 237px;
  width: 100%;
}

.user-list__link {
  display: block;
  text-decoration: none;
  color: $title-color;
  padding: 27px 0;
  padding-left: 75px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
